<h1> Posts </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th width="20%">
        Title
      </th>
      <th>
        Text Sample
      </th>
      <th>
        Date
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td>
          <%= post.body.first(60) + "#{post.body.length > 60 ? "..." : ""}" %>
        </td>
        <td>
          <strong>Published on</strong> <%= post.created_at.strftime("%a, %d %B %Y %H:%M") %>
        </td>
        <td>
          <strong><%= link_to "View Full Post", post_url(post.id) %></strong> | <strong><%= link_to "Delete", destroy_post_url(post.id), method: :delete %></strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="float-right" style="margin-top: 30px">
<%= link_to "+ Add Post", new_post_url, class: "btn btn-primary" %>
</p>
