<h1> Add a new post </h1>

<%= form_for @post, url: {action: "create"} do |f| %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
